- page_title("Dashboard")

%h3 To do
%ol
  %li
    %strong [SimpleCms] Generate sitemap for CMS
  %li 
    %strong [SimpleCms] Do some drag & drop stuff in sidebar of page to re-order childrens
  %li 
    %strong [SimpleCms] Do some drag & drop stuff in asset table to re-order assets

  %li [SimpleCms] Make nice UI to add assets to pages (Do some popup stuff?)
  %li [SimpleCms] Do index for Pages (Do some awesome drag&drop stuff with http://www.jstree.com/)
  %li [SimpleAdmin] Clean up CSS
  %li Think of contact form


%h3 On hold
%ol
  %li [SimpleAdmin] Add routes dynamically for generic controller (waiting to refactor simple_admin)
  %li [SimpleAdmin] Add search engine in generic (thinking sphinx) ? (Not sure it's really important) 

%h3 Done
%ol
  %li
    %s Pages should respond to xml! => API for CMS is done
  %li 
    %s Sidebar for generic controller. Make it cool and dynamic (ability to change state of objects like activation, etc. => how to add methods to controller???)
  %li
    %s Define path in generic controller and clean views. Also define methods for name and plural_name.
  %li 
    %s Make admin generic easily overwritable
    Just define whatever admin anywhere and register its tab
  %li
    %s [SimpleCms] Add assets to pages
  %li 
    %s [SimpleCms] Show thumbnails of images in sidebar of page  